{% extends 'base.html' %}
{% load static %}
{% block title %}Echelonglobe - Investment Plan{% endblock %}
{% block body %}
<div class="container-fluid bg-on-surface">
    <div class="list-pricing show">
        <div class="row mt-40 flex-between row-gap-32">
          <div class="col-12 col-lg-4">
            <div class="pricing-item p-32 bora-16 text-white invest">
              <div class="item-infor pl-24 pr-24">
                <div class="heading7 text-center text-orange">Starter Plan</div>
                <div class="heading3 text-center mt-12">7.3%<span class="body1"></span></div>
                <div class="body3 text-center text-line mt-12">daily interest(3days)</div>
                <div class="list-feature mt-32 flex-column gap-12">
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">zero reinvestment</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">24/7 withdrawal</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">minimun amount $50</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3 ">maximum amount $1999</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">2% referal bonus</div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn bg-orange w-100 mt-3"><a href="{% url 'active' %}" class="text-white">Invest now</a></button>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="pricing-item p-32 bora-16 text-white invest">
              <div class="item-infor pl-24 pr-24">
                <div class="heading7 text-center text-orange">Premium</div>
                <div class="heading3 text-center mt-12">8.3%<span class="body1"></span></div>
                <div class="body3 text-center text-line mt-12">daily interest(5days)</div>
                <div class="list-feature mt-32 flex-column gap-12">
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">1 time reinvestment</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">24/7 withdrawal</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">minimun amount $2000</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3 ">maximum amount $9999</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">3% referal bonus</div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn bg-orange w-100 mt-3"><a href="{% url 'active' %}" class="text-white">Invest now</a></button>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="pricing-item p-32 bora-16 text-white invest">
              <div class="item-infor pl-24 pr-24">
                <div class="heading7 text-center text-orange">Vip</div>
                <div class="heading3 text-center mt-12">10%<span class="body1"></span></div>
                <div class="body3 text-center text-line mt-12">daily interest(7days)</div>
                <div class="list-feature mt-32 flex-column gap-12">
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">2 time reinvestment</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">24/7 withdrawal</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">minimun amount $10000</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3 ">maximum amount Unlimited</div>
                  </div>
                  <div class="item flex-item-center gap-16"> <i class="ph-fill ph-check-circle fs-24 text-orange"></i>
                    <div class="body3">5% referal bonus</div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn bg-orange w-100 mt-3"><a href="{% url 'active' %}" class="text-white">Invest now</a></button>
            </div>
          </div>
        </div>
      </div>

</div>
{% endblock %}